.App {
  text-align: center;
}

.TopbarBeforeLogin {
  background: linear-gradient(to right, black, rgb(250, 250, 250));
  padding: 10px;
}
.logo-image {
  max-width: 100px;
  margin-right: 10px;
}
.carousel-title {
  max-width: 100%;
  white-space: nowrap; /* to prevent the text from going down*/
  overflow: hidden; /*to hide any excess text*/
  text-overflow: ellipsis;
}

.carousel-description {
  max-width: 100%; /*the text does not exceed the width of the parent element*/
  overflow: hidden;
  text-overflow: ellipsis; /*per aggiungere i puntini di sospensione se il testo viene troncato.*/
}

.contentMain {
  background: linear-gradient(to right, black, rgb(250, 250, 250));
}
.footer {
  background: linear-gradient(to right, black, rgb(250, 250, 250));
}

.LoginAndRegister {
  background: linear-gradient(to right, black, rgb(250, 250, 250));
}

.loggedHome {
  background: linear-gradient(to right, black, rgb(250, 250, 250));
}

.custom-link {
  text-decoration: none;
  margin-right: 20px;
}
