body {
  background: linear-gradient(to right, rgb(208, 162, 162), rgb(196, 182, 182));
}
.TopbarBeforeLogin {
  background: linear-gradient(to right, rgb(208, 162, 162), rgb(196, 182, 182));
  padding: 10px;
}
.logo-image {
  max-width: 100px;
  margin-right: 10px;
  pointer-events: none; /* with this the logo will not clickable*/
}
.carousel-title {
  max-width: 100%;
  white-space: nowrap; /* to prevent the text from going down*/
  overflow: hidden; /*to hide any excess text*/
  text-overflow: ellipsis;
}

.carousel-description {
  max-width: 100%; /*the text does not exceed the width of the parent element*/
  overflow: hidden;
  text-overflow: ellipsis; /*per aggiungere i puntini di sospensione se il testo viene troncato.*/
}

.custom-link {
  text-decoration: none;
  margin-right: 20px;
}

.product-cover-small {
  width: 100px;
  height: 100px;
}

.loggedCard:hover {
  padding: 25px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  justify-content: space-around;
  background: linear-gradient(to right, rgb(253, 187, 187), rgb(179, 127, 127));
  transition: all 0.1s ease;
}
